*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

body {
    background-color: white;
}

#indexContainer {
    min-height: 90vh;
    display: grid;
    grid-template-areas:"indexTop indexTop indexTop"
    "indexMiddle indexMiddle indexMiddle"
    "indexBottom indexBottom indexBottom";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    align-items: center;
    justify-content: center;
    row-gap: 1.5%;
}

@media screen and (max-width: 719px) {
    #indexContainer {
        display: flex;
        flex-flow: column nowrap;
    }
}

#indexTop {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5%;
    grid-area: indexTop;
}

@media screen and (max-width: 719px) {
    #indexTop{
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5%;
    }
}

#indexMiddle{
    grid-area: indexMiddle;
    gap: 2px;
    align-items: center;
}

#indexBottom {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5%;
    grid-area: indexBottom;
}

@media screen and (max-width: 719px) {
    #indexBottom {
        display: flex;
        flex-flow: column nowrap;
    }
}

#logoIndex {
    height: 100%;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.card-body {
    width: auto;
    height: auto;
}

.card-body p {
    font-size: small;
}

footer {
    background-color: rgb(186, 207, 161);
    grid-area: footer;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.caja {
    display: inline-block;
}

@media screen and (max-width:719px) {
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.cajainterna {
    width: 420px;
    height: 425px;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 0px;
}

@media screen and (max-width:719px) {
    .cajainterna {
        width: 100%;
        height: 200%;
        padding: 3%;
        min-width: 100%;
        margin-bottom: 0px;
    }
}

.cajadelogo {
    width: 1246px;
    height: 300px;
    margin-left: 12px;
}

@media screen and (max-width:719px) {
    .cajadelogo {
        width: 100%;
        height: 200%;
        padding: 3%;
        min-width: 100%;
        margin-bottom: 0px;
    }
}

.header{
    margin: 10px;
    padding: 1px 10px;
    width: 1350px; 
    height: 200px;
}

.menu{
    display: flex;
    margin-bottom: 5px;
}

.carrusel {
    margin: 2%;
}

.d-block {
    width: 100%;
    height: 50%;
}

.fondo{
    background-image: url("../images/fondo.png");
}

.fondo2{
    background-color: beige;
}

.subtitulos{
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}


.subtitulo1{
    font-style: oblique;
    font-size: medium;
    background-color: rgba(255, 235, 205, 0.781);
}

.p{
    color: rgb(59, 59, 59);
    font-style: unset;
    text-align: center;
}

.fondo2{
    background-color: beige;
}

.tabla {
    margin: 2%;
    justify-content: center;
}

.productos{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: medium;
    line-height: 2;
    background-color: rgb(186, 207, 161);

}

.carousel-item {
    align-items: center;
}

.textcarousel {
    text-align: center;
}

.foto{
    margin-top: 20px;
    margin-right: 450px;
    margin-bottom: 0px;
    margin-left: 450px;
    padding: 10px;
    border: groove 2px black;
    width: 300px;
    height: 300px;
    animation-name: foto;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.fotos{
    width: 300px;
    height: 300px;
    margin-left: 15%;
}



.card-body{
    background-color: rgb(214, 241, 182);
}

.menucolor  {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 241, 182);
}

.valores{
    text-align: center;
    font-style: oblique;
    font-size: medium;
    line-height: 2;
    background-color: rgb(186, 207, 161);
}

.locales{
    height: 300px;
    width: 300px;;
}


.fotoropa{
    width: 300px;
    height: 300px;
    padding: 2px 10px;
}

.footer{
    justify-content: center;
    margin-left: 1%;
    margin-bottom: 1%;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    background-color: rgb(186, 207, 161);
}

.redes{
    width: 25px;
    height: 25px;
}

.contacto{
    text-decoration: underline;
}