.caja {
    display: inline-block;
}

.cajainterna {
    width: 420px;
    height: 425px;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 0px;
}

.cajadelogo {
    width: 1310px;
    height: 300px;
    margin-left: 12px;
}

@media screen and (max-width: 320px) {
    .responsive {
        display: flex;
        flex-direction: column;
    }

    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .cajainterna {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1080px;
    }

    .cajadelogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1080px;
    }
}

.header{
    margin: 10px;
    padding: 1px 10px;
    width: 1350px; 
    height: 200px;
}

.menu{
    display: flex;
    margin-bottom: 5px;
}

.carrusel {
    margin: 2%;
}

.d-block {
    width: 100%;
    height: 50%;
}

.fondo{
    background-image: url("../images/fondo.png");
}

.fondo2{
    background-color: beige;
}

.subtitulos{
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}


.subtitulo1{
    font-style: oblique;
    font-size: medium;
    background-color: rgba(255, 235, 205, 0.781);
}

.p{
    color: rgb(59, 59, 59);
    font-style: unset;
    text-align: center;
}

.fondo2{
    background-color: beige;
}

.tabla {
    margin: 2%;
    justify-content: center;
}

.productos{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: medium;
    line-height: 2;
    background-color: rgb(186, 207, 161);

}

.carousel-item {
    align-items: center;
}

.textcarousel {
    text-align: center;
}

.foto{
    margin-top: 20px;
    margin-right: 450px;
    margin-bottom: 0px;
    margin-left: 450px;
    padding: 10px;
    border: groove 2px black;
    width: 300px;
    height: 300px;
    animation-name: foto;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.fotos{
    width: 300px;
    height: 300px;
    margin-left: 15%;
}



.card-body{
    background-color: rgb(214, 241, 182);
}

.menucolor  {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 241, 182);
}

.valores{
    text-align: center;
    font-style: oblique;
    font-size: medium;
    line-height: 2;
    background-color: rgb(186, 207, 161);
}

.locales{
    height: 300px;
    width: 300px;;
}


.fotoropa{
    width: 300px;
    height: 300px;
    padding: 2px 10px;
}

.footer{
    justify-content: center;
    margin-left: 1%;
    margin-bottom: 1%;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    background-color: rgb(186, 207, 161);
}

.redes{
    width: 25px;
    height: 25px;
}

.contacto{
    text-decoration: underline;
}